/* body starts */

body{
    font-family: 'Poppins', sans-serif;
}

/* main container */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header styles */

/* header container */
.header-container{
    margin: 40px 100px;
    display: flex;
    width: 1100px;
    height: 646px;
    border-radius: 5px;
    background-color: black;
}
/* Media query for header container for Mobile Device wtih max-688 */
@media only screen  and (max-width: 688px){
    .header-container{
        width: 350px;
        height: 646px;
        border-radius: 5px;
        background-color: black;
    }
    .header-content{
        width: 258px;
        height: 178px;
    }
    .header-title{
        font-size: 5px;
    }
    .header-image img{  
        width: 100px;
        height: 100px;
    }
}

/* header-title  */
.header-title{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}
.header-content{
    width: 500px;
    height: 420px;
    margin-top: 111px;
    margin-left: 106px;
}
.header-content h4{
    color: #FFFFFF;
}
.header-content a{
    padding: 16px 25px;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 5px;
    text-decoration: none;
}

/* header image */

.header-image img{  
    padding-top: 30px;
    width: 581px;
    height: 613px;
}

 /* All Content */
 .all-middle-content{
    width: 1100px;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    column-gap:24px
 }
 /* Individual Content Box */
 .content-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }
 .content-box img{
    width: 100%;
 }
 .blog-content{
    width: 250px;
 }
.selection-panel{
    width: 312px;
    height: 312px;  
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.selection-panel a{
    text-decoration: none;
    font-size: 15px;
}
.upcomming{
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    padding: 10px;
}
.upcomming a{
    color:#161616;
}
.all-group{
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    padding: 10px;
}
.all-group a{
    color:#161616;
}
.blog-button{
    margin-top: 20px;
    width: 200px;
    height: 35px;
    background: #DD0000;
    border-radius: 5px;
    padding: 10px;
}
.blog-button a{
    color:#FFFFFF;
}
.live-box{
    margin: 20px;
 }

 /* Footer */
 footer{
    background-color: #161616;
    margin-top: 130px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 footer h1{
    padding-top: 130px;
    color: #ffffff;
 }
.footer-links{
    margin-top: 100px;
}
 .footer-links a{
    text-decoration: none;
    color: #B9B9B9;
    padding-left: 40px;
 }
 footer hr{
    color: #B9B9B9;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
 }
